<% if @content.image.present? %>
  <%= image_tag @content.image %>
<% end %>

<h1><%= @content.title %></h1>

<%= simple_format @content.body %>


<h2> Highly Rated Reviews </h2>

<%= render partial: "review", collection: @highly_rated_reviews %>

<h2> Highly Featured Reviews </h2>

<%= render partial: "review", collection: @featured_reviews %>
